{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ? - SummerField{% endblock %}

{% block body %}
<main class="container" style="height: 67vh;">
    <h1>Page d'info personnel</h1>
</main>
{% endblock %}
