{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

<div class="container" style="height: 67vh;">
    <h1>Votre profil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('profile_edit') }}">Modifier mon email</a><br/>
    <a href="{{ path ('app_forgot_password_request') }}" >Modifier mon mot de passe </a>    

</div>
    
{% endblock %}
