{% extends 'base.html.twig' %}

{% block title %}Detail des Commandes - SummerField{% endblock %}

{% block body %}

<main class="container">

    <h1>Detail des Commandes : </h1>

    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detail_commande in detail_commandes %}
            <tr>
                <td>{{ detail_commande.id }}</td>
                <td>
                    <a href="{{ path('admin_detail_commande_show', {'id': detail_commande.id}) }}">show</a>
                    <a href="{{ path('admin_detail_commande_edit', {'id': detail_commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_detail_commande_new') }}">Créer</a>

    <br><br>
</main>
{% endblock %}
