{% extends 'base.html.twig' %}

{% block title %}Detail des Commandes - SummerField{% endblock %}

{% block body %}
<main class="container" style="height: 67vh;">
    <h1>DetailCommande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ detail_commande.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_detail_commande_index') }}">back to list</a>

    <a href="{{ path('admin_detail_commande_edit', {'id': detail_commande.id}) }}">edit</a>

    {{ include('Admin/admin_detail_commande/_delete_form.html.twig') }}
</main>
{% endblock %}
