h1 {
    color: red;
}

.product-show {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.product-show .col-md-8{
    /* border: 3px solid black; */
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-show a {
    margin-right: 10px;
}

a{
    text-align: center;
}

.product-show .product-price{
    font-weight: bold;
}

.product-show img{
    width: 30px;
    height: 500px;
    object-fit: cover;
}

.product-price{
    text-align: end;
}