{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

    <div class="container">

        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h1 class="mb-3">Réinitialisez votre mot de passe</h1>

        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
            <div>
                <small>
                   Veuillez entrer votre email et nous vous enverrons un liens pour réinitialiser votre mot de passe &#128512;
                </small>
            </div>

            <button class="btn btn-warning mt-3">Envoyer un e-mail de réinitialisation du mot de passe</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
