{% extends 'base.html.twig' %}

{% block title %}Produits - SummerField{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-3">
			<h1>Filtrer mes produits</h1>
			Colonne de filtre
		</div>
		<div class="col-md-9">
			<h1>Nos Produits :</h1>

			<div class="row">
				{% for article in articles %}
					<div class="col-md-4">
						{% include 'Common/home/product.html.twig' %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
