{% extends 'base.html.twig' %}

{% block title %}Merci {{prenom}}{% endblock %}

{% block body %}

<main class="text-center">

<h1>Merci d'avoir pris Contact avec nous {{prenom}} </h1>

Nous allons très vite vous recontacter sur votre mail : {{email}}

</main>


{% endblock %}
