
Veuillez cliquer sur ce lien pour valider votre mail ! 

<a href="{{ signedUrl }}">Confirmer mon mail</a>.
Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.

{{flash}}