{% extends 'base.html.twig' %}

{% block title %}Modification {% endblock %}

{% block body %}

<main class="container">

    <h1>Modifier Mon Article</h1>
    <hr>

    {{ include('Seller/seller_article/_form.html.twig', {'button_label': 'Mettre à jour'}) }} <br>

    <a class="btn btn-outline-warning btn-block" href="{{ path('seller_article_index') }}">Retourner en arrière</a> <br>

    {{ include('Seller/seller_article/_delete_form.html.twig') }}<br>

</main>

<br><br>

{% endblock %}
