{% extends 'base.html.twig' %}

{% block title %}Ajouter un Article - SummerField{% endblock %}

{% block body %}
<main class="container">
    <h1>Ajouter un Article</h1>

    {{ include('Seller/seller_article/_form.html.twig') }}

    <br>

    <a class="btn btn-outline-warning" href="{{ path('seller_article_index') }}">Revenir en arrière</a>

    <br>

</main>

<br><br>
{% endblock %}
